/*This is a CSS file*/
@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Anta&family=Audiowide&family=Bebas+Neue&family=Bungee&family=Content:wght@400;700&family=Convergence&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Dancing+Script:wght@400..700&family=Geostar+Fill&family=Gidugu&family=Great+Vibes&family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=League+Spartan:wght@100..900&family=Lobster&family=Manrope:wght@200..800&family=New+Amsterdam&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Orbitron:wght@400..900&family=Oswald:wght@200..700&family=Oxanium:wght@200..800&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Petit+Formal+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rationale&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+Vinyl&family=Russo+One&family=Smooch&family=Sora:wght@100..800&family=Syncopate:wght@400;700&family=Train+One&family=WDXL+Lubrifont+TC&family=Zen+Tokyo+Zoo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Agdasima:wght@400;700&family=Anta&family=Audiowide&family=Bebas+Neue&family=Bungee&family=Content:wght@400;700&family=Convergence&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Dancing+Script:wght@400..700&family=Geostar+Fill&family=Gidugu&family=Great+Vibes&family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=League+Spartan:wght@100..900&family=Lobster&family=Manrope:wght@200..800&family=New+Amsterdam&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Orbitron:wght@400..900&family=Oswald:wght@200..700&family=Oxanium:wght@200..800&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Petit+Formal+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rationale&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+Vinyl&family=Russo+One&family=Smooch&family=Sora:wght@100..800&family=Syncopate:wght@400;700&family=Train+One&family=WDXL+Lubrifont+TC&family=Zen+Tokyo+Zoo&display=swap');

*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    width: 100%;
    min-height: 100vh;
    max-width: 1400px;
}
header{
    width: 100%;
    background-color: #dfd5d5;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1400px;
    margin: auto;
}
.header-content{
    width: 95%;
    height: 90vh;
    background-image: url(images/header-images/header-img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 8px;
    animation-name: header-Content;
}
@keyframes header-Content{
    0%{
        opacity: 0;
    }
    100%{
        filter: brightness(70%);
        opacity: 1;
    }
}
.header-content::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: url(images/header-images/header-img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    filter: brightness(70%);
    border-radius: 8px;
}
nav{
    width: 100%;
    height: 12vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    z-index: 2;
    animation-name: nav;
    animation-duration: 2s;
    animation-delay: 2s;
}
.nav-left {
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-left ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.nav-left ul li a{
    font-family: "Convergence", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #fff;
    position: relative;
}
.nav-left a::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 0%;
    height: 2px;
    transform: scaleX(0);
    transform-origin: left;
    background-color: #fff;
}
.nav-left a:hover::before{
    width: 100%;
    transform: scaleX(1);
    transform-origin: left;
    transition: 0.4s linear;

}
.logo h1{
    font-family: "Geostar Fill", serif;
    font-weight: 600;
    font-style: normal;
    color: #fff;
    font-size: 2rem;
}
.nav-right{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-right ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.nav-right ul li a{
    font-family: "Convergence", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #fff;
    position: relative;
}
.nav-right a::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -10px;
    width: 0%;
    height: 2px;
    transform: scaleX(0);
    transform-origin: right;
    background-color: #fff;
}
.nav-right a:hover::after{
    width: 100%;
    transition: 0.4s linear;
    transform-origin: right;
    transform: scaleX(1);
}
.hr-line{
    background-color: rgb(255, 255, 255);
    position: relative;
    z-index: 2;
    margin: 0 auto;
    width: 50%;
    height: 5px;
    border-radius: 25px;
    animation-name: hr-line;
    animation-duration: 2s;
    animation-delay: 2s;
}
@keyframes hr-line{
    0%{
        width: 0%;
        margin: auto;
    }
    100%{
        margin: auto;
        width: 50%;
    }
}
.hero-section{
    position: relative;
    z-index: 2;
    width: 100%;
    height: 80vh;
    display: flex;
}
.hero-left{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.hero-left-content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 15%;
    padding-top: 7%;
}
.hero-left-content h2{
    font-family: "Poppins", serif;
    font-weight: 200;
    color: #fff;
    font-size: 3rem;
    animation-name: hero-header;
    animation-duration: 2s;
    animation-delay: 2s;
}
@keyframes hero-header{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.hero-left-content p{
    font-family: "Poppins", serif;
    color: #fff;
    font-weight: 400;
    font-size: 1rem;
    animation-name: hero-prg;
    animation-duration: 2s;
    animation-delay: 2s;
}
@keyframes hero-prg{
    0%{
        transform: translateX(-300px);
    }
    100%{
        transform: translateX(0);
    }
}
.hero-left-content button{
    width: 40%;
    padding: 12px;
    margin: 6% 4%;
    background-color: #ffffff50;
    border: 1px solid white;
    animation-name: hero-btn;
    animation-duration: 2s;
    animation-delay: 2s;
}
@keyframes hero-btn{
    0%{
        transform: translateY(300px);
    }
    100%{
        transform: translateY(0);
    }
}
.hero-left-content button a{
    color: #fff;
    font-family: "Poppins", serif;
    font-weight: 500;
    font-size: 1rem;
}
.header-content button:hover{
    background-color: #ffffff3a;
    transition: 0.3s;
}
.hero-left-content button:active{
    background-color: #ffffff00;
    transition: 0.3s;
}
.hero-right{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
}
.hero-right-content{
    background-color: rgba(255, 255, 255, 0.295);
    width: 65%;
    height: 85%;
    backdrop-filter: blur(3px);
    border-radius: 8px;
    border: 1px solid #fff;
}
.hero-right-content-header{
    width: 100%;
    border-radius: 8px;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-right-content-header h2{
    font-family: "Aboreto", system-ui;
    font-weight: 500;
    font-style: normal;
    color: #fff;
    font-size: 2rem;
}
.hero-right-content-stats{
    margin-top: 3%;
    height: 87%;
    border-radius: 8px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 4%;
}
.stat-1{
    width: 100%;
    position: relative;
}
.stat-1 h3{
    font-family: 'Poppins', serif;
    font-weight: 500;
    color: #fff;
    font-size: 2.3rem;
}
.stat-1 p{
    font-family: 'Poppins', serif;
    font-weight: 500;
    color: #fff;
    font-size: 0.7rem;
    position: absolute;
    top: 64%;
}
.stat-1-line{
    width: 91%;
    background-color: #fff;
    border-radius: 25px;
    height: 5px;
    margin-top: 2%;
    animation-name: line-1;
    animation-duration: 2s;
    animation-delay: 2s;
}
@keyframes line-1{
    0%{
        width: 0%;
        opacity: 0;
    }
    100%{
        width: 91%;
        opacity: 1;
    }
}
.stat-2-line{
    width: 94%;
    background-color: #fff;
    border-radius: 25px;
    height: 5px;
    margin-top: 2%;
    animation-name: line-2;
    animation-duration: 2s;
    animation-delay: 2s;
}
@keyframes line-2{
     0%{
        width: 0%;
        opacity: 0;
    }
    100%{
        width: 94%;
        opacity: 1;
    }
}
.stat-3-line{
    width: 92%;
    background-color: #fff;
    border-radius: 25px;
    height: 5px;
    margin-top: 2%;
    animation-name: line-3;
    animation-duration: 2s;
    animation-delay: 2s;
}
@keyframes line-3{
     0%{
        width: 0%;
        opacity: 0;
    }
    100%{
        width: 92%;
        opacity: 1;
    }
}
.stat-4-line{
    width: 89%;
    background-color: #fff;
    border-radius: 25px;
    height: 5px;
    margin-top: 2%;
    animation-name: line-4;
    animation-duration: 2s;
    animation-delay: 2s;
}
@keyframes line-4{
     0%{
        width: 0%;
        opacity: 0;
    }
    100%{
        width: 89%;
        opacity: 1;
    }
}
.return-arrow{
    width: 6%;
    background-color: #0000004b;
    height: 10vh;
    position: fixed;
    right: 5%;
    border: 1px solid #fff;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.return-arrow a{
    color: #fff;
    font-size: 1.3rem;
}
.return-arrow:hover{
    transition: 0.3s;
    background-color: red;
    border: 1px solid black;
}
.return-arrow:active{
    background-color: #c21717d7;
}
