/*Here goes main page design (style)*/

/*Here are the CSS variables*/

:root{
    --background-color-green: #2f4f4f;
    --background-color-white: #ffffff;
    --background-color-darkgray: #353839;
    --text-color-green: #2f4f4f;
    --text-color-white: #ffffff;
    --text-color-black: #000000;
    --button-border-radius: 25px;
    --text-font-size-extraSmall: 0.8rem;
    --text-font-size-small: 1rem;
    --text-font-medium: 2rem;
    --text-font-size-middle: 3rem;
    --text-font-large: 4rem;
}
/*This is Aboreto Regular font*/
@font-face {
    font-family: 'Aboreto';
    src: url('../website-fonts/Aboreto/Aboreto-Regular.ttf') format('truetype');
}
/*This is Poppins Regular font*/
@font-face {
    font-family: 'Poppins Regular';
    src: url('../website-fonts/Poppins/Poppins-Regular.ttf') format(truetype);
}
/*This is Poppins Bold font*/
@font-face {
    font-family: 'Poppins Bold';
    src: url(../website-fonts/Poppins/Poppins-Bold.ttf) format(truetype);
}
/*Here starts website style*/

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    width: 100%;
    min-height: 100vh;
}
header{
    height: 100vh;
    width: 100%;
    max-width: 1400px;
    display: flex;
    flex-direction: column;
}
.main-nav{
    width: 100%;
    height: 15vh;
    background-color: var(--background-color-white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4%;
    box-shadow: 4px 4px 4px darkgray;
    position: sticky;
    z-index: 99;
}
.logo{
    font-family: 'Aboreto';
    font-size: var(--text-font-medium);
}
.logo span{
    color: var(--text-color-green);
}
.nav-links{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-links ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.nav-links ul li a{
    color: #2f4f4f;
    font-family: 'Aboreto';
    padding: 16px;
    position: relative;
}
.nav-links .active{
    border-bottom: 2px solid var(--text-color-green);
}
.nav-links .active:hover{
    border-bottom: 0px;
}
.nav-links ul li a::before{
    content: '';
    position: absolute;
    left: 15%;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: var(--background-color-green);
    transform: scaleX(0);
    transform-origin: left;
}
.nav-links ul li a:hover::before{
    width: 70%;
    transform: scaleX(1);
    transform-origin: left;
    transition: 0.3s linear;
}
.main-content{
    background-image: url(../website-images/header-images/ArchForm-header-img.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    position: relative;
    height: 100%;
}
.main-content::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: url(../website-images/header-images/ArchForm-header-img.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    filter: brightness(75%);
}
.main-content .main-title{
    position: relative;
    z-index: 99;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 45vh;
    width: 70%;
    padding-left:5%;
    font-size: 3.5rem;
    font-family: 'Aboreto';
    color: var(--text-color-white);
}
.main-content .main-title span{
    color: var(--text-color-green);
}
.main-content .main-btn{
    position: relative;
    z-index: 99;
    display: flex;
    justify-content: center;
    width: 20%;
    margin-left: 7%;
    height: 10%;
}
.main-btn a{
    width: 100%;
    background-color: #ffffff;
    border: none;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    font-family: "Aboreto";
    font-size: var(--text-font-size-small);
    z-index: 99;
}
.main-btn a::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 100%;
    background-color: var(--background-color-green);
    color: #ffffff;
    transition: width 0.3s linear;
    z-index: -1;
}
.main-btn a:hover::before{
    width: 100%;
}
.main-btn a:hover{
    color: #ffffff;
}
.main-btn i{
    position: absolute;
    right: 4%;
    top: 32%;
    font-size: 1.1rem;
}
.footer-btn{
    z-index: 99;
    position: relative;
    height: 25vh;
    margin-top: 4%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 1% 1%;
}
.footer-btn a{
    padding: 2% 2%;
    color: #000;
    background-color: var(--background-color-white);
    font-size: var(--text-font-size-small);
    position: fixed;
    z-index: 99;
}

.footer-btn a::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0;
    z-index: -1;
    background-color: #2f4f4f;
    transition: 0.3s ease-in;
}
.footer-btn a:hover::before{
    height: 100%;
}
.footer-btn a:hover{
    transform: scale(1.1);
    color: #ffffff;
}
.menu-content{
    display: none;
}
.menu-btn{
    display: none;
}
/*Here goes the responsive design for the ArchForm's website header*/
@media(max-width:480px){
    .nav-links{
        display: none;
    }
    .logo h1{
        font-size: var(--text-font-size-medium);
    }
    .main-content{
        z-index: 1;
    }
    .main-content .main-title{
        width: 100%;
        padding-left: 0;
    }
    .main-content .main-title h2{
        font-size: var(--text-font-size-medium);
        text-align: center;
    }
    .main-content .main-btn{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        margin: auto;
    }
    .main-content .main-btn a{
        height: 100%;
    }
    .main-content .footer-btn a{
        position: fixed;
        right: 5%;
        bottom: 3%;
        padding: 25px;
    }
    .main-nav{
        display: flex;
        justify-content: space-around;
    }
    .menu-btn{
        display: block;
    }
    .menu-btn button{
        padding: 16px;
        font-size: 1.6rem;
        background-color: transparent;
        border: none;
        position: relative;
    }
    .menu-content{
        position: absolute;
        top: 100%;
        height: 0vh;
        display: none;
        padding: 50% 40%;
        width: 100%;
        z-index: 999;
        background-color: rgb(255, 255, 255);
        border-top: 1px solid #2f4f4f;
    }
    .menu-content ul{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 35px;
        flex-direction: column;
    }
    .menu-content ul li a{
        color: #2f4f4f;
        font-family: 'Poppins Bold';
        font-size: 1.1rem;
    }
    #menuContent.active{
        display: block;
        height: 100vh;
    }
}





