/*Here goes main page design (style)*/

/*Here are the CSS variables*/

:root{
    --background-color-green: #2f4f4f;
    --background-color-white: #ffffff;
    --background-color-darkgray: #353839;
    --text-color-green: #2f4f4f;
    --text-color-white: #ffffff;
    --text-color-black: #000000;
    --text-color-gray: #353839;
    --button-border-radius: 25px;
    --text-font-size-extraSmall: 0.8rem;
    --text-font-size-small: 1rem;
    --text-font-medium: 2rem;
    --text-font-size-middle: 3rem;
    --text-font-large: 4rem;
}
/*This is Aboreto Regular font*/
@font-face {
    font-family: 'Aboreto';
    src: url('../website-fonts/Aboreto/Aboreto-Regular.ttf') format('truetype');
}
/*This is Poppins Regular font*/
@font-face {
    font-family: 'Poppins Regular';
    src: url('../website-fonts/Poppins/Poppins-Regular.ttf') format(truetype);
}
/*This is Poppins Bold font*/
@font-face {
    font-family: 'Poppins Bold';
    src: url(../website-fonts/Poppins/Poppins-Bold.ttf) format(truetype);
}
/*Here starts website style*/

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    width: 100%;
    min-height: 100vh;
}
html{
    scroll-behavior: smooth;
}
header{
    height: 100vh;
    width: 100%;
    max-width: 1400px;
    display: flex;
    flex-direction: column;
}
.main-nav{
    width: 100%;
    height: 15vh;
    background-color: var(--background-color-white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4%;
    box-shadow: 4px 4px 4px darkgray;
    position: sticky;
    z-index: 99;
}
.logo{
    font-family: 'Aboreto';
    font-size: var(--text-font-medium);
}
.logo span{
    color: var(--text-color-green);
}
.nav-links{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-links ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.nav-links ul li a{
    color: #2f4f4f;
    font-family: 'Aboreto';
    padding: 16px;
    position: relative;
}
.nav-links .active{
    border-bottom: 2px solid var(--text-color-green);
}
.nav-links .active:hover{
    border-bottom: 0px;
}
.nav-links ul li a::before{
    content: '';
    position: absolute;
    left: 15%;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: var(--background-color-green);
    transform: scaleX(0);
    transform-origin: left;
    transition: 0.3s linear;
}
.nav-links ul li a:hover::before{
    width: 70%;
    transform: scaleX(1);
    transform-origin: left;
}
.main-content{
    background-image: url(../website-images/header-images/ArchForm-header-img.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    position: relative;
    height: 100%;
}
.main-content::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: url(../website-images/header-images/ArchForm-header-img.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    filter: brightness(75%);
}
.main-content .main-title{
    position: relative;
    z-index: 99;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 45vh;
    width: 70%;
    padding-left:5%;
    font-size: 3.5rem;
    font-family: 'Aboreto';
    color: var(--text-color-white);
}
.main-content .main-title span{
    color: var(--text-color-green);
}
.main-content .main-btn{
    position: relative;
    z-index: 99;
    display: flex;
    justify-content: center;
    width: 20%;
    margin-left: 7%;
    height: 10%;
}
.main-btn a{
    width: 100%;
    background-color: #ffffff;
    border: none;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    font-family: "Aboreto";
    font-size: var(--text-font-size-small);
    z-index: 99;
}
.main-btn a::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 100%;
    background-color: var(--background-color-green);
    color: #ffffff;
    transition: width 0.3s linear;
    z-index: -1;
}
.main-btn a:hover::before{
    width: 100%;
}
.main-btn a:hover{
    color: #ffffff;
}
.main-btn i{
    position: absolute;
    right: 4%;
    top: 32%;
    font-size: 1.1rem;
}
.footer-btn{
    z-index: 99;
    position: relative;
    height: 25vh;
    margin-top: 4%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 1% 1%;
}
.footer-btn a{
    padding: 2% 2%;
    color: #000;
    background-color: var(--background-color-white);
    font-size: var(--text-font-size-small);
    position: fixed;
    z-index: 99;
}

.footer-btn a::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0;
    z-index: -1;
    background-color: #2f4f4f;
    transition: 0.3s ease-in;
}
.footer-btn a:hover::before{
    height: 100%;
}
.footer-btn a:hover{
    transform: scale(1.1);
    color: #ffffff;
}
.menu-content{
    display: none;
}
.menu-btn{
    display: none;
}
.emergency-chat{
    background-color: var(--background-color-white);
    position: absolute;
    z-index: 100;
    left: 25%;
    top: 5%;
    height: 90%;
    width: 50%;
    display: none;
}
#emergencyChat.open-form{
    display: block;
}
.emergency-chat-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Poppins Regular';
    font-size: var(--text-font-size-medium);
    padding: 2% 5%;
    color: var(--text-color-green);
}
.emergency-chat-form form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 70vh;
    gap: 16px;
}
.emergency-chat-form form input{
    width: 60%;
    height: 10%;
    font-family: "Poppins Regular";
}
.emergency-chat-form form input:focus{
    padding: 2%;
    font-family: "Poppins Regular";
}
.emergency-chat-form form input::placeholder{
    padding-left: 2%;
    font-family: "Poppins Regular";
}
.emergency-chat-form form textarea{
    width: 60%;
    height: 35%;
    padding: 2%;
    font-family: "Poppins Regular";
}
.emergency-chat-form form textarea:focus{
    font-family: "Poppins Regular";
    padding: 2% 2%;
}
.emergency-chat-form form button{
    width: 60%;
    height: 8%;
    background-color: var(--background-color-green);
    color: var(--text-color-white);
    font-family: 'Poppins Regular';
    border: none;
}
.emergency-chat-form form button:hover{
    transform: translateY(5px);
    box-shadow: 4px 4px 4px darkgray;
    transition: 0.3s;
}
/*Here ends the header design of the main page*/

/*Here starts Features section design*/
 .Features{
    width: 100%;
    max-width: 1400px;
    min-height: 100vh;
    margin-top: 10%;
 }
 .Features-header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 100%;
    font-family: 'Aboreto';
    color: var(--background-color-green);
    font-size: var(--text-font-size-middle);
 }
.Features-header h2{
    position: relative;
}
.Features-header h2::before{
    content: '';
    position: absolute;
    left: 35%;
    bottom: 0;
    width: 30%;
    height: 3px;
    background-color: var(--background-color-green);
    transform: scaleX(0);
    transform-origin: left;
    border-radius: 25px;
    transition: 0.3s;
}
.Features:hover .Features-header h2::before{
    transform: scaleX(1);
    transform-origin: right;
    border-radius: 25px;
}
.Features-body{
    margin-top: 2%;
    height: 90vh;
}
.Features-boxes{
    height: 65vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}
.box{
    width: 25%;
    height: 100%;
    position: relative;
}
.box img{
    width: 100%;
    max-width: 100%;
    height: 100%;
}
.box-content{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: linear-gradient(to top, #2f4f4fad, #ffffff41);
}
.box:hover .box-content{
    opacity: 1;
    transition: 0.3s linear;
}
.box-content-header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Aboreto';
    padding: 4% 4%;
    color: var(--text-color-white);
    font-size: 1.9rem;
}
.box-content-btn{
    position: absolute;
    bottom: 2%;
    right: 2%;
    background-color: var(--background-color-green);
    padding: 16px;
    border-radius: 50%;
    transition: 0.3s;
}
@keyframes arrow-rotate{
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(225deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
.box-content-btn:hover{
     animation: arrow-rotate 1s;
}
.box-content-btn a{
    color: var(--text-color-white);
}
.Features-text{
    margin: 5% auto;
    width: 70%;
    font-size: var(--text-font-size-extraSmall);
    text-align: center;
    font-family: "Poppins Regular";
}
/*Here ends Feaures section*/

/*Here starts highlights section*/
.highlights{
    background-color: var(--background-color-green);
    width: 100%;
    min-height: 100vh;
    max-width: 1400px;
    margin-top: 3%;
}
.highlights-header{
    width: 100%;
    height: 20vh;
    font-family: 'Poppins Bold';
    padding: 0% 2%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    opacity: 0;
    transform: scale(0), translateX(-300px);
    font-size: var(--text-font-large);
    animation-name: highlights-header;
    animation-timeline: view();
    animation-range: entry 0% exit 80%;
    color: #ffffff;
}
@keyframes highlights-header{
    from{
        opacity: 0;
        transform: scale(0);
        transform: translateX(-300px);
    }
    to{
        opacity: 1;
        transform: scale(1);
        transform: translateX(0px);
        color: #ffffff;
    }
}
.highlights-body{
    height: 80vh;
    display: flex;
    flex-direction: column;
}
.highlights-container{
    height: 100%;
    width: 100%;
    display: flex;
}
.highlights-left{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}
.highlights-img{
    width: 80%;
    height: 90%;
}
.highlights-img img{
    width: 100%;
    height: 100%;
    transform: translateX(-20px);
    animation-name: highlights-img;
    animation-timeline: view();
    animation-range: entry 30% 70%;
}
@keyframes highlights-img{
    from{
        transform: translateX(-20px);
    }
    to{
        transform: translateX(0px);
    }
}
.highlights-img p{
    position: absolute;
    bottom: 3%;
    left: 15%;
    padding: 12px;
    height: 12vh;
    width: 70%;
    font-family: 'Poppins Regular';
    font-size: var(--text-font-size-extraSmall);
    text-align: center;
    background-color: var(--background-color-white);
}
.highlights-right{
    width: 50%;
    height: 100%;
    gap: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.highlights-right-title{
    height: 20%;
    width: 100%;
    font-family: 'Poppins Regular';
    font-size: var(--text-font-size-middle);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color-white);
}
.cards-content{
    height: 45%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.card{
    background-color: #d9d9d952;
    width: 60%;
    height: 10vh;
    display: flex;
    flex-direction: column;
    transition: 0.3s linear;
}
/*First card open/close function (classList)*/
#card.cardopen{
    height: 40vh;
    transition: 0.3s linear;
}
/*Second card open/close function (classList)*/
#SecondCard.cardopen{
    height: 40vh;
    transition: 0.3s linear;
}
/*Third card open/close function (classList)*/
#thirdCard.cardopen{
    height: 40vh;
    transition: 0.3s linear;
}
.card-header{
    width: 100%;
    display: flex;
    font-family: 'Poppins Regular';
    color: var(--text-color-white);
    justify-content: space-between;
    align-items: center;
    padding: 3% 5%;
}
.card-text-content{
    width: 100%;
    font-size: var(--text-font-size-extraSmall);
    font-family: 'Poppins Regular';
    color: var(--text-color-white);
    padding-left: 3%;
    padding-top: 5%;
    display: none;
}
#cardContent.text{
    display: block;
    transition: 0.3s linear;
}
#SecondCardContent.text{
    display: block;
    transition: 0.3s linear;
}
#ThirdCardContent.text{
    display: block;
    transition: 0.3s linear;
}
/*Here ends highlights section*/

/*Here starts about-us section*/

.About-us{
    margin-top: 5%;
    min-height: 130vh;
    width: 100%;
    max-width: 1400px;
    position: relative;
}
.About-us-header{
    height: 15vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Aboreto';
    font-size: var(--text-font-large);
    color: var(--text-color-gray);
    animation-name: aboutUs-header;
    animation-timeline: view();
    animation-range: entry 0% exit 100%;
}
@keyframes aboutUs-header{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.intro-text{
    width: 50%;
    margin: auto;
    font-family: 'Poppins Regular';
    color: var(--text-color-gray);
    font-size: var(--text-font-size-extraSmall);
    padding-top: 3%;
    text-align: justify;
}
.aboutUs-body{
    width: 90%;
    height: 100vh;
    margin: 3% auto;
    display: flex;
    position: relative;
}
.aboutUs-body::before{
    content: '';
    position: absolute;
    top: 10%;
    left: 0;
    width: 1%;
    height: 5%;
    background-color: var(--background-color-darkgray);
    animation-name: hr-line;
    animation-timeline: view();
    animation-range: entry 40% exit 100%;
}
@keyframes hr-line{
    0%{
        height: 5%;
    }
    100%{
        height: 80%;
    }
}
.info-content-container{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.info-content{
    width: 100%;
    height: 50%;
}
.info-content-header{
    display: flex;
    justify-content: flex-start;
    padding: 5% 10%;
    height: 15vh;
    align-items: center;
}
.info-content-header h3{
    position: relative;
    font-family: 'Aboreto';
    color: var(--text-color-gray);
    font-size: var(--text-font-medium);
    position: relative;
}
.info-content-header h3::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -25%;
    border-radius: 55px;
    width: 10%;
    height: 4px;
    transition: 0.3s linear;
    background-color: var(--background-color-darkgray);
}
.info-content-container:hover .info-content-header h3::before{
    width: 100%;
}
.info-content-text{
    width: 100%;
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.info-content-text p{
    width: 80%;
    font-family: 'Poppins Regular';
    font-size: var(--text-font-size-extraSmall);
    color: var(--text-color-gray);
}
.stats-content{
    background-color: red;
    width: 50%;
    height: 100%;
    position: relative;
}
.stats-content img{
    width: 100%;
    height: 100%;
    max-width: 100%;
}
.stats{
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    background: linear-gradient(to top, #000, #ffffff23);
}
.statistics{
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0% 5%;
}
.stats-value{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.stats-value h5{
    font-family: 'Poppins Bold';
    color: var(--text-color-white);
    font-size: 3.5rem;
    height: 11vh;
}
.stats-value p{
    font-family: 'Poppins Regular';
    color: var(--text-color-white);
    padding-left: 17%;
}
/*Here ends about-us section*/
/*Here starts footer section*/
footer{
    background-image: url(../website-images/footer-images/footer-img.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    margin-top: 3%;
    position: relative;
    display: flex;
}
footer::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: url(../website-images/footer-images/footer-img.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    z-index: 1;
    filter: brightness(30%);
}
.footer-left{
    position: relative;
    z-index: 2;
    width: 50%;
    height: 100vh;
}
.footer-content{
    width: 100%;
    height: 100%;
}
.footer-header{
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10% 3%;
    font-size: var(--text-font-size-middle);
    font-family: 'Aboreto';
    color: var(--text-color-white);
}
.footer-nav{
    background-color: #d9d9d928;
    border-radius: 15px;
    width: 90%;
    height: 25%;
    margin-left: 6%;
}
.footer-nav-header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins Bold';
    color: var(--text-color-white);
    font-size: 1.3rem;
    padding-top: 1%;
}
.footer-nav-items{
    height: 65%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0% 5%;
}
.footer-nav-links{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-nav-links ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.footer-nav-links ul li{
    transition: transform 0.3s linear;
}
.footer-nav-links ul li:hover{
    transform: translateY(10px);
}
.footer-nav-links ul li a{
    color: var(--text-color-white);
    font-size: 1.8rem;
}
.footer-nav-btn{
    background-color: #00000057;
    padding: 12px;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    transition: background-color 0.3s ease-in;
}
.footer-nav-btn:hover{
    background-color: #ffffff3a;
}
.footer-nav-btn a{
    color: #ffffff;
    font-family: 'Poppins Regular';
}
.footer-help-center{
    background-color: #d9d9d928;
    margin-top: 5%;
    height: 20%;
    width: 90%;
    border-radius: 15px;
    margin-left: 6%;
    display: flex;
}
.help-center-left{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 3% 0%;
}
.help-center-title{
    display: flex;
    justify-content: center;
    align-items: center;
}
.help-center-title h4{
    font-family: 'Poppins Bold';
    color: var(--text-color-white);
    font-size: 1.3rem;
}
.help-center-btn{
    padding: 12px;
    width: 80%;
    border-radius: 35px;
    background-color: #00000057;
     transition: background-color, scale, 0.2s ease-in-out;
}
.help-center-btn a{
    font-family: 'Poppins Regular';
    color: var(--text-color-white);
    padding-left: 1%;
}
.help-center-btn  i{
    background-color: #00000088;
    padding: 12px;
    border-radius: 50%;
    margin-right: 7%;
    font-size: 1.1rem;
}
.help-center-btn:hover{
    background-color: #d9d9d928;
    transform: scale(1.05);
}
.social-icons{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}
.social-icons a{
    background-color: #00000080;
    padding: 5px;
    width: 70%;
    border-radius: 25px;
    text-align: center;
    font-size: 1.2rem;
    color: var(--text-color-white);
    transition: transform 0.3s linear;
}
.social-icons a:hover{
    transform: scaleX(1.1);
}
.footer-info-elements{
    width: 100%;
    margin-left: 6%;
    margin-top: 3%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 22px; 
}
.phone-number{
    display: flex;
    gap: 15px;
}
.footer-info-elements p{
    font-family: 'Poppins Regular';
    color: var(--text-color-white);
    font-size: 1rem;
}

.footer-right{
    position: relative;
    z-index: 2;
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
}
.footer-right form{
    width: 95%;
    height: 95%;
    background-color: #d9d9d928;
    border-radius: 15px;
}
.footer-right .footer-right-header{
    height: 10vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 5%;
    padding-top: 3%;
    font-family: 'Aboreto';
    font-size: 2rem;
    color: var(--text-color-white);
}
.formular-inputs{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.formular-inputs input{
    background-color: #00000023;
    width: 70%;
    height: 10%;
    border-radius: 35px;
    border: 1px solid #000000;
    outline: none;
    font-family: 'Poppins Regular';
    font-size: 1.1rem;
    padding-left: 3%;
    color: #d9d9d9;
}
.formular-inputs input:focus{
    color: var(--text-color-white);
}
.formular-inputs textarea{
    width: 70%;
    height: 30%;
    background-color: #00000023;
    outline: none;
    border: 1px solid #000000;
    border-radius: 15px;
    font-family: 'Poppins Regular';
    padding: 2% 4%;
    font-size: 1.1rem;
    color: var(--text-color-white);
}
.formular-inputs textarea:focus{
    color: var(--text-color-white);
}
.formular-inputs .submit-btn{
    background-color: #00000041;
    width: 70%;
    height: 11%;
    border-radius: 35px;
    position: relative;
}
.formular-inputs .submit-btn button{
    position: absolute;
    left: 1%;
    top: 6%;
    width: 15%;
    height: 90%;
    border-radius: 50%;
    background-color: #00000059;
    color: var(--text-color-white);
    border: 1px solid #d9d9d9;
    font-size: 1rem;
    transform: translateX(0);
    transition: transform 0.3s linear;
}
.formular-inputs .submit-btn:hover button{
    transform: translateX(370px);
    background-color: #00000088;
    border: none;
}
.extra-info{
    display: none; /*Part of the responsive design*/
}
/*Here ends footer section*/
/*Here goes the responsive design for the ArchForm's website header*/
@media(max-width:480px){
    .nav-links{
        display: none;
    }
    .logo h1{
        font-size: var(--text-font-size-medium);
    }
    .main-nav{
        display: flex;
        justify-content: space-around;
    }
    .menu-btn{
        display: block;
    }
    .menu-btn button{
        padding: 16px;
        font-size: 1.6rem;
        background-color: transparent;
        border: none;
        position: relative;
    }
    .menu-content{
        position: absolute;
        top: 90%;
        height: 0vh;
        display: none;
        padding: 50% 40%;
        width: 100%;
        z-index: 999;
        background-color: rgb(255, 255, 255);
        border-top: 1px solid #2f4f4f;
        border-bottom: 1px solid #2f4f4f;
    }
    .menu-content ul{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 35px;
        flex-direction: column;
    }
    .menu-content ul li a{
        color: #2f4f4f;
        font-family: 'Poppins Bold';
        font-size: 1.1rem;
    }
    .menu-content.active{
        display: block;
        height: 90vh;
    }
    .main-content{
        z-index: 1;
        position: relative;
    }
    .main-content .main-title{
        width: 100%;
        padding-left: 0;
    }
    .main-content .main-title h2{
        font-size: var(--text-font-size-medium);
        text-align: center;
    }
    .main-content .main-btn{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        margin: auto;
    }
    .main-content .main-btn a{
        height: 100%;
    }
    .main-content .footer-btn a{
        position: fixed;
        right: 5%;
        bottom: 3%;
        padding: 25px;
        z-index: 999;
        border: 1px solid var(--text-color-green);
    }
    .emergency-chat{
        height: 90%;
        width: 80%;
        position: fixed;
        left: 10%;
    }
    .Features{
        min-height: 100vh;
    }
    .Features-body{
        width: 80%;
        height: 50%;
        margin: auto;
    }
    .Features-body .Features-boxes{
        display: flex;
        height: 100%;
        width: 100%;
        flex-direction: column;
    }
    .Features-body .Features-boxes .box{
        width: 100%;
        height: 60%;
    }
    .box-content{
        opacity: 1;
    }
    .Features-text{
        width: 100%;
    }
    /*Here ends 480px breakpoint of Features section*/

    /*Here starts highlights 480px breakpoint section*/
    .highlights{
        min-height: 150vh;
    }
    .highlights-header{
        font-size: 2.3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateX(0px);
        flex-direction: column;
        opacity: 1;
    }
    .highlights-body{
        height: 150vh;
    }
    .highlights-container{
        display: flex;
        flex-direction: column;
    }
    .highlights-left{
        width: 100%;
        height: 50%;
        margin: auto;
    }
    .highlights-img{
        width: 100%;
        height: 85%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .highlights-img img{
        width: 100%;
        height: 100%;
        transform: translateX(0px);
    }
    .highlights-img p{
        width: 90%;
        position: absolute;
        left: 4%;
    }
    .highlights-right{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .highlights-right-title{
        font-size: 2rem;
    }
    .card{
        width: 90%;
    }
    .cards-content{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        gap: 0px;
        height: 30%;
    }
    /*Here starts about us section responsive design breakpoint 480px*/
    .About-us{
        min-height: 185vh;
    }
    .About-us-header{
        font-size: 2rem;
    }
    .About-us-header h2{
        position: relative;
    }
    .About-us-header h2::before{
        content: '';
        position: absolute;
        left: 38%;
        bottom: -30%;
        background-color: #353839;
        height: 4px;
        width: 20%;
    }
    .intro-text{
        width: 90%;
    }
    .aboutUs-body{
        display: flex;
        height: 170vh;
        flex-direction: column-reverse;
        position: relative;
    }
    .aboutUs-body::before{
        content: '';
        position: absolute;
        height: 5%;
        top: 44%;
        animation-name: hr-LINE;
        animation-timeline: view();
        animation-range: entry 55% exit 80%;
    }
    @keyframes hr-LINE{
        0%{
            height: 5%;
        }
        100%{
            height: 48%;
        }
    }
    .info-content{
        margin-top: 1%;
        height: 45%;
    }
    .info-content-container{
        width: 100%;
    }
    .stats-content{
        width: 100%;
        height: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .stats{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .statistics{
        display: flex;
        flex-direction: column;
        height: 90%;
    }
    footer{
        display: flex;
        min-height: 150vh;
        flex-direction: column;
        background-image: url(../website-images/footer-images/footer-img.jpeg);
        background-attachment: scroll;
        position: relative;
        z-index: 1;
    }
    footer::before{
        background-image: url(../website-images/footer-images/footer-img.jpeg);
        background-attachment: scroll;
    }
     .footer-header{
        font-size: 1.6rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footer-left{
        width: 95%;
        height: 100%;
        margin: auto;
    }
    .footer-right{
        width: 95%;
        height: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
    }
    .extra-info{
        display: block;
        color: var(--text-color-white);
        font-family: 'Poppins Regular';
        font-size: var(--text-font-size-extraSmall);
        margin-top: 3%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 5px;
    }
    .footer-nav{
        height: 20vh;   
    }
    .footer-nav-items{
        display: flex;
        flex-direction: column;
    }
    .footer-nav-links ul li a{
        font-size: 1.6rem;
    } 
    .footer-nav-btn{
        width: 90%;
    }
    .social-icons{
        height: 20vh;
        width: 30%;
    }
    .help-center-left{
        width: 70%;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        height: 20vh;
    }
    .help-center-btn{
        width: 90%;
        padding: 12px;
        height: 35%;
        text-align: center;
    }
    .help-center-btn i{
        display: none;
    }
    .footer-info-elements{
        display: none;
    }
    .footer-right form{
        height: 80vh;
    }
    .formular-inputs .submit-btn{
        width: 15%;
    }
    .formular-inputs .submit-btn button{
        width: 100%;
        transform: translateX(0px) !important; /*transform hover animation stop*/
    }

}
@media(min-width:481px) and (max-width:650px){
    .nav-links{
        display: none;
    }
    .main-nav{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .main-nav .logo{
        font-size: 1.5rem;
    }
    .menu-btn{
        display: block;
    }
    .menu-btn button{
        padding: 16px;
        font-size: 1.6rem;
        background-color: transparent;
        border: none;
        position: relative;
    }
    .menu-content{
        position: absolute;
        top: 90%;
        left: 0;
        height: 0vh;
        display: none;
        padding: 35% 40%;
        width: 100%;
        z-index: 999;
        background-color: var(--background-color-green);
        border-top: 1px solid #2f4f4f;
    }
    .menu-content ul{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 35px;
        flex-direction: column;
    }
    .menu-content ul li a{
        color: #ffffff;
        font-family: 'Poppins Bold';
        font-size: 1.1rem;
    }
    .menu-content.active{
        display: block;
        height: 90vh;
    }
    .main-content{
        z-index: 1;
        position: relative;
    }
    .main-content .main-title{
        width: 100%;
        padding-left: 0;
    }
    .main-content .main-title h2{
        font-size: var(--text-font-size-medium);
        text-align: center;
    }
    .main-content .main-btn{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        margin: auto;
    }
    .main-content .main-btn a{
        height: 100%;
    }
    .main-content .footer-btn a{
        position: fixed;
        right: 5%;
        bottom: 3%;
        padding: 25px;
        border: 1px solid #2f4f4f;
    }
    .emergency-chat{
        height: 90%;
        width: 80%;
        position: fixed;
        left: 10%;
    }
     .Features{
        min-height: 100vh;
    }
    .Features-body{
        width: 80%;
        height: 100%;
        margin: auto;
    }
    .Features-body .Features-boxes{
        display: flex;
        height: 100%;
        width: 70%;
        flex-direction: column;
        margin: auto;
    }
    .Features-body .Features-boxes .box{
        width: 100%;
        height: 20%;
    }
    .box-content{
        opacity: 1;
    }
    .Features-text{
        width: 100%;
    }
    /*Here starts responsive design 481-650px breakpoint of highlight section*/

    .highlights-container{
        display: flex;
        flex-direction: column;
    }
    .highlights-header{
        font-size: 2.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .highlights-body{
        height: 120vh;
    }
    .highlights-left{
        width: 100%;
    }
    .highlights-img{
        width: 90%;
        height: 80%;
    }
    .highlights-img img{
        transform: translateX(0px);
    }
    .highlights-img p{
        position: absolute;
        top: 69%;
        left: 10%;
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .highlights-right{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .highlights-right-title{
        padding-top: 0%;
        margin-top: 0%;
    }
    .About-us-header h2{
        font-size: 2.5rem;
        position: relative;
    }
    .About-us-header h2::before{
        content: '';
        position: absolute;
        left: 38%;
        bottom: -30%;
        background-color: #353839;
        height: 4px;
        width: 20%;
    }
    .intro-text{
        width: 90%;
    }
    .aboutUs-body{
        display: flex;
        min-height: 110vh;
        height: auto;
        flex-direction: column;
        position: relative;
    }
    .aboutUs-body::before{
        content: '';
        position: absolute;
        top: 3%;
        height: 5%;
        animation-name: Hr-line;
        animation-timeline: view();
        animation-range: entry 55% exit 80%;
    }
    @keyframes Hr-line{
        0%{
            height: 5%;
        }
        100%{
            height: 50%;
        }
    }
    .info-content-container{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .info-content{
        width: 100%;
    }
    .info-content-header{
        width: 100%;
    }
    .info-content-header h3{
        font-size: 2.5rem;
    }
    .stats-content{
        width: 100%;
        height: 70%;
    }
    footer{
        display: flex;
        height: 135vh;
        flex-direction: column;
        margin-top: 15%;
    }
    .footer-header{
        font-size: 2rem;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding-top: 2%;
    }
    .footer-content{
        min-height: 20vh;
        height: auto;
    }
    .footer-left{
        width: 90%;
        height: 100%;
        margin: auto;
    }
    .footer-nav{
        height: 50%;
    }
    .footer-help-center{
        height: 15vh;
    }
    .help-center-btn{
        width: 100%;
        text-align: center;
        margin-left: 10%;
    }
    .help-center-btn i{
        display: none;
    }
    .footer-right{
        width: 90%;
        height: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
    }
    .footer-right form{
        height: 80vh;
    }
    .formular-inputs .submit-btn{
        width: 15%;
    }
    .formular-inputs .submit-btn button{
        width: 100%;
        transform: translateX(0px) !important; /*transform hover animation stop*/
    }
    .footer-info-elements{
        display: none;
    }
    .extra-info{
        display: block;
        color: var(--text-color-white);
        margin-top: 5%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-family: 'Poppins Regular';
        font-size: 1rem;
    }
}
@media(min-width:651px) and (max-width:850px){
    .nav-links{
        display: none;
    }
    .menu-btn{
        display: block;
    }
    .menu-btn button{
        padding: 16px;
        font-size: 1.6rem;
        background-color: transparent;
        border: none;
        position: relative;
    }
    .menu-content{
        position: absolute;
        top: 100%;
        left: 0;
        height: 0vh;
        display: none;
        padding: 35% 40%;
        width: 100%;
        z-index: 999;
        background-color: var(--background-color-green);
        border-top: 1px solid #2f4f4f;
    }
    .menu-content ul{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 35px;
        flex-direction: column;
    }
    .menu-content ul li a{
        color: #ffffff;
        font-family: 'Poppins Bold';
        font-size: 1.1rem;
    }
    .main-content{
        z-index: 1;
        position: relative;
    }
     #menuContent.active{
        display: block;
        height: 90vh;
    }
    .main-content .main-title{
        width: 100%;
        font-size: var(--text-font-size-middle);
        text-align: center;
        padding-left: 0;
    }
    .main-content .main-btn{
        width: 40%;
        margin: auto;
    }
    .main-content .footer-btn a{
        position: fixed;
        right: 5%;
        bottom: 3%;
        padding: 25px;
        border: 1px solid #2f4f4f;
    }
    .emergency-chat{
        height: 90%;
        width: 80%;
        position: fixed;
        left: 10%;
    }
    .Features{
        min-height: 70vh;
    }
    .Features-boxes{
        display: flex;
        justify-content: space-evenly;
    }
    .Features .Features-body .Features-boxes{
        height: 60%;
        width: 100%;
    }
    .Features .Features-boxes .box{
        width: 30%;
    }
    .box-content{
        opacity: 1;
    }
    .highlights-container{
        display: flex;
        flex-direction: column;
    }
    .highlights-header{
        font-size: 2.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .highlights-body{
        height: 120vh;
    }
    .highlights-left{
        width: 100%;
    }
    .highlights-img{
        width: 90%;
        height: 80%;
    }
    .highlights-img img{
        transform: translateX(0px);
    }
    .highlights-img p{
        position: absolute;
        top: 69%;
        left: 10%;
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .highlights-right{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .highlights-right-title{
        padding-top: 0%;
        margin-top: 0%;
    }
    .About-us-header{
        font-size: 2.5rem;
    }
    .intro-text{
        width: 90%;
    }
    .aboutUs-body{
        display: flex;
        min-height: 110vh;
        height: auto;
        flex-direction: column;
    }
    .info-content-container{
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    .stats-content{
        width: 100%;
        height: 70%;
    }
    .aboutUs-body{
        position: relative;
        animation-range: entry 40% exit 0%;
        animation-name: hr-line;
    }
    @keyframes hr-line{
        0%{
            height: 5%;
        }
        100%{
            height: 25%;
        }
    }
    .aboutUs-body::before{
        content: '';
        position: absolute;
        height: 5%;
        top: 3%;
    }
    footer{
        display: flex;
        flex-direction: column;
        margin-top: 15%;
        min-height: 150vh;
    }
    .footer-header{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 0%;
        font-size: 2rem;
    }
    .footer-left{
        width: 90%;
        height: 100%;
        margin: auto;
    }
    .footer-nav{
        height: 15vh;
    }
    .footer-help-center{
        height: 15vh;
    }
    .help-center-btn{
        width: 95%;
        margin-left: 5%;
    }
    .footer-right{
        width: 90%;
        height: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
    }
    .footer-info-elements{
        display: none;
    }
    .footer-right form{
        height: 75vh;
    }
    .formular-inputs .submit-btn{
        width: 15%;
        position: relative;
    }
    .formular-inputs .submit-btn button{
        width: 100%;
        height: 8vh;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 0;
        transform: translateX(0px) !important; /*transform hover animation stop*/
    }
    .extra-info{
        display: block;
        color: var(--text-color-white);
        font-family: 'Poppins Regular';
        margin-top: 5%;
        text-align: center;
        width: 100%;
    }
}

@media(min-width:851px) and (max-width:1187px){
     .nav-links{
        display: none;
    }
    .main-nav{
        width: 100%;
    }
    .menu-btn{
        display: block !important;
    }
    .menu-btn button{
        padding: 16px;
        font-size: 1.6rem;
        background-color: transparent;
        border: none;
        position: relative;
    }
    .menu-content{
        position: absolute;
        top: 90%;
        left: 0;
        height: 0vh;
        display: none;
        padding: 25% 43%;
        width: 100%;
        z-index: 999;
        background-color: var(--background-color-green);
        border-top: 1px solid #2f4f4f;
    }
    .menu-content.active{
        display: block;
        height: 90vh;
    }
    .menu-content ul{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 35px;
        flex-direction: column;
    }
    .menu-content ul li a{
        color: #ffffff;
        font-family: 'Poppins Bold';
        font-size: 1.1rem;
    }
    .main-content{
        position: relative;
        z-index: 1;
    }
    .main-content .main-title{
        width: 100%;
    }
    .main-content .main-btn{
        width: 30%;
    }
    .emergency-chat{
        height: 90%;
        width: 80%;
        position: fixed;
        left: 10%;
    }
    .main-content .footer-btn a{
        position: fixed;
        right: 5%;
        padding: 35px;
        border: 1px solid #2f4f4f;
        font-size: var(--text-font-size-medium);
    }
    .Features .Features-body{
        display: flex;
        flex-direction: column;
        gap: 0px;
    }
    .Features .Features-body .Features-boxes{
        height: 75%;
        display: flex;
        justify-content: space-evenly;
        gap: 15px;
    }
    .box-content{
        opacity: 1;
    }
    .Features .Features-boxes .box{
        width: 30%;
    }
    .highlights-header{
        font-size: var(--text-font-large);
        padding-left: 4%;
    }
    .highlights-right-title{
        font-size: 2.6rem;
    }
    .highlights-img{
        width: 95%;
        padding-left: 2%;
    }
    .highlights-img p{
        width: 90%;
        position: absolute;
        left: 5%;
        font-size: 0.8rem;
    }
    .card{
        width: 80%;
    }
    .stats-content{
        height: 90%;
    }
    .footer-header{
        font-size: 2rem;
    }
    .footer-nav{
        height: 15vh;
    }
    .footer-nav-items{
        margin: 0% 1%;
        width: 100%;
    }
    .footer-help-center{
        height: 15vh;
    }
    .help-center-left{
        width: 70%;
    }
    .help-center-btn{
        width: 90%;
    }
    .social-icons{
        width: 30%;
    }
    .formular-inputs .submit-btn{
        width: 70%;
        position: relative;
    }
    .formular-inputs .submit-btn button{
        width: 20%;
    }
}
@media(min-width:1188px){
    .nav-links{
        display: block;
    }
    .menu-btn{
        display: none;
    }
    .main-nav{
        padding: 0 4%;
    }
    .main-content .main-title{
        width: 80%;
    }
    .main-content .main-btn{
        width: 20%;
    }
    .main-content .footer-btn a{
        padding: 25px;
        position: fixed;
        right: 1%;
        border: 1px solid #2f4f4f;
    }
    .emergency-chat{
        height: 90%;
        width: 70%;
        position: fixed;
        left: 15%;
    }
    .help-center-btn{
        width: 90%;
        margin-left: 4%;
    }
}





