/*Here goes the new-project page style*/

:root{
    --background-color-green: #2f4f4f;
    --background-color-white: #ffffff;
    --background-color-darkgray: #353839;
    --text-color-green: #2f4f4f;
    --text-color-white: #ffffff;
    --text-color-black: #000000;
    --button-border-radius: 25px;
    --text-font-size-extraSmall: 0.8rem;
    --text-font-size-small: 1rem;
    --text-font-medium: 2rem;
    --text-font-size-middle: 3rem;
    --text-font-large: 4rem;
}
/*This is Aboreto Regular font*/
@font-face {
    font-family: 'Aboreto';
    src: url('../website-fonts/Aboreto/Aboreto-Regular.ttf') format('truetype');
}
/*This is Poppins Regular font*/
@font-face {
    font-family: 'Poppins Regular';
    src: url('../website-fonts/Poppins/Poppins-Regular.ttf') format(truetype);
}
/*This is Poppins Bold font*/
@font-face {
    font-family: 'Poppins Bold';
    src: url(../website-fonts/Poppins/Poppins-Bold.ttf) format(truetype);
}
/*Here starts website style*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    width: 100%;
    min-height: 100vh;
    max-width: 1400px;
}
html{
    scroll-behavior: smooth;
}
header{
    width: 100%;
    min-height: 100vh;
    background-image: url(../website-images/Features-images/new-project-images/new-project-header-img.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
header::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: url(../website-images/Features-images/new-project-images/new-project-header-img.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    z-index: 1;
    filter: brightness(40%);
}
.header-content{
    position: relative;
    z-index: 2;
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}
.stats-header h2{
    font-family: 'Poppins Bold';
    font-size: var(--text-font-size-middle);
    color: var(--text-color-white);
    position: relative;
}
.stats-header h2::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: var(--background-color-white);
    width: 20%;
    height: 4px;
}
.header-content:hover .stats-header h2::before{
    width: 50%;
    transition: 0.3s ease-in;
}
.stat h4{
    color: var(--text-color-white);
    font-family: "Poppins Regular";
    font-weight: 100;
    font-size: var(--text-font-size-middle);
}
.return-arrow{
    position: fixed;
    bottom: 10%;
    z-index: 333;
    padding: 20px;
    background-color: var(--background-color-white);
    border: 1px solid black;
    opacity: 0;
}
.return-arrow:hover{
    animation: return-Top 1s linear;
}
#returnArrow.active{
    opacity: 1;
    transition: 0.3s linear;
}
@keyframes return-Top{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-30px);
    }
    100%{
        transform: translateY(0px);
    }
}
.return-arrow a{
    color: #000000;
}
/*Here ends the style of new-project style*/

/*Here starts the style about house types*/

.house-types{
    margin: 5% 0%;
    width: 100%;
    min-height: 80vh;
    max-width: 1400px;
}
.house-type-content{
    width: 100%;
    height: 100%;
    display: flex;
}
.house-type-img{
    width: 50%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.house-type-img img{
    width: 70%;
    height: 90%;
}
.house-type-img-text{
    position: absolute;
    bottom: 6%;
    right: 16%;
    color: var(--text-color-white);
    font-family: 'Poppins Regular';
    font-size: var(--text-font-size-middle);
    background-color: var(--background-color-darkgray);
    padding: 8px;
}
.house-type-info{
    width: 50%;
    height: 80vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.house-type-info-header{
    font-family: 'Poppins Regular';
    font-size: 1.8rem;
    color:var(--background-color-darkgray);
}
.house-type-info-text{
    width: 80%;
    font-size: var(--text-font-size-extraSmall);
    font-family: 'Poppins Regular';
    color: var(--background-color-darkgray);
}
.house-type-info-btn{
    background-color: var(--background-color-darkgray);
    padding: 18px;
    transition: transform 0.1s linear;
}
.house-type-info-btn a{
    color: var(--text-color-white);
    font-family: 'Poppins Regular';
}
.house-type-info-btn:hover{
    transform: scale(1.1);
    
}
#second-house-type{
    margin-top: 10%;
    display: flex;
    flex-direction: row-reverse;
}
#third-house-type{
    margin-top: 10%;
    display: flex;
    flex-direction: row;
}
/*here ends the style of the house-types*/

/*Here starts Footer*/
Footer{
    background-image: url(../website-images/Features-images/new-project-images/new-project-footer-img.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 5%;
    min-height: 100vh;
    position: relative;
    display: flex;
}
Footer::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: url(../website-images/Features-images/new-project-images/new-project-footer-img.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    filter: brightness(20%);
}
.Footer-left{
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 2;
}
.message-box{
    background-color: var(--background-color-white);
    color: #000000;
    width: 40%;
    height: 10vh;
    font-family: 'Poppins Regular';
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    transition: 0.3s linear;
}
/*ClassList add function for the first box message*/
#messageBOX.open{
    height: 40vh;
    transition: 0.3s linear;
}
#msgText.open{
    display: block;
}
#MessageBox.open{
    height: 40vh;
    transition: 0.3s linear;
}
#MsgText.open{
    display: block;
}
.message-header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.message-text{
    font-family: 'Poppins Regular';
    font-size: 0.7rem;
    width: 80%;
    margin: auto;
    display: none;
}
/*Here ends Footer left side*/

/*Here starts Footer right side*/
 .Footer-right{
    position: relative;
    z-index: 3;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 100vh;
 }
 .footer-nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    gap: 45px;
    height: 60vh;
 }
 .footer-nav h3{
    font-family: 'Aboreto';
    color: var(--text-color-white);
    font-size: 2.3rem;
 }
 .footer-nav span{
    color: #2f4f4f;
 }
 .footer-nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
 }
 .footer-nav ul li:hover{
    transform: translateY(5px);
    transition: 0.2s;
 }
 .footer-nav ul li a{
    color: var(--text-color-white);
    font-family: 'Poppins Regular';
 }
 .author-rights{
    color: var(--text-color-white);
    padding-bottom: 3%;
    font-size: 1.2rem;
    font-family: 'Poppins Regular';
 }
/*Here ends Footer*/

/*Here starts the responsive design*/

@media(max-width:480px){
    header{
        background-image: url(../website-images/Features-images/new-project-images/new-project-header-img.jpeg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .header-content{
        display: flex;
        flex-direction: column;
    }
    .house-type-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .house-type-content .house-type-img{
        width: 80%;
    }
    .house-type-img img{
        width: 100%;
    }
    .house-type-img-text{
        position: absolute;
        right: 3%;
        bottom: 8%;
    }
    .house-type-info{
        width: 80%;
    }
    .house-type-info-header{
        padding-left: 12%;
        font-size: 1.4rem;
    }
    .house-type-info-text{
        width: 100%;
    }
    #second-house-type{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    #second-house-type .house-type-info{
        width: 90%;
    }
    #second-house-type .house-type-info-header{
        width: 100%;
    }
    #third-house-type{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    #third-house-type .house-type-info{
        width: 100%;
    }
    #third-house-type .house-type-info-header{
        width: 100%;
        padding-left: 6%;
    }
    #third-house-type .house-type-info-text{
        width: 90%;
    }
    Footer{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .Footer-left{
        width: 100%;
    }
    .message-box{
        width: 70%;
    }
    .Footer-right{
        width: 100%;
    }
}