/*Here goes the new-project page style*/

:root{
    --background-color-green: #2f4f4f;
    --background-color-white: #ffffff;
    --background-color-darkgray: #353839;
    --text-color-green: #2f4f4f;
    --text-color-white: #ffffff;
    --text-color-black: #000000;
    --button-border-radius: 25px;
    --text-font-size-extraSmall: 0.8rem;
    --text-font-size-small: 1rem;
    --text-font-medium: 2rem;
    --text-font-size-middle: 3rem;
    --text-font-large: 4rem;
}
/*This is Aboreto Regular font*/
@font-face {
    font-family: 'Aboreto';
    src: url('../website-fonts/Aboreto/Aboreto-Regular.ttf') format('truetype');
}
/*This is Poppins Regular font*/
@font-face {
    font-family: 'Poppins Regular';
    src: url('../website-fonts/Poppins/Poppins-Regular.ttf') format(truetype);
}
/*This is Poppins Bold font*/
@font-face {
    font-family: 'Poppins Bold';
    src: url(../website-fonts/Poppins/Poppins-Bold.ttf) format(truetype);
}
/*Here starts website style*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    width: 100%;
    min-height: 100vh;
    max-width: 1400px;
}
header{
    width: 100%;
    min-height: 100vh;
    background-image: url(../website-images/Features-images/new-project-images/new-project-header-img.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
header::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: url(../website-images/Features-images/new-project-images/new-project-header-img.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    z-index: 1;
    filter: brightness(40%);
}
.header-content{
    position: relative;
    z-index: 2;
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}
.stats-header h2{
    font-family: 'Poppins Bold';
    font-size: var(--text-font-size-middle);
    color: var(--text-color-white);
    position: relative;
}
.stats-header h2::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: var(--background-color-white);
    width: 20%;
    height: 4px;
}
.header-content:hover .stats-header h2::before{
    width: 50%;
    transition: 0.3s ease-in;
}
.stat h4{
    color: var(--text-color-white);
    font-family: "Poppins Regular";
    font-weight: 100;
    font-size: var(--text-font-size-middle);
}
/*Here ends the style of new-project style*/

/*Here starts the style about house types*/

.house-types{
    margin: 5% 0%;
    width: 100%;
    min-height: 80vh;
    max-width: 1400px;
}
.house-type-content{
    width: 100%;
    height: 100%;
    display: flex;
}
.house-type-img{
    width: 50%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.house-type-img img{
    width: 70%;
    height: 90%;
}
.house-type-img-text{
    position: absolute;
    bottom: 6%;
    right: 16%;
    color: var(--text-color-white);
    font-family: 'Poppins Regular';
    font-size: var(--text-font-size-middle);
    background-color: var(--background-color-darkgray);
    padding: 8px;
}
.house-type-info{
    width: 50%;
    height: 80vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.house-type-info-header{
    font-family: 'Poppins Regular';
    font-size: 1.8rem;
    color:var(--background-color-darkgray);
}
.house-type-info-text{
    width: 80%;
    font-size: var(--text-font-size-extraSmall);
    font-family: 'Poppins Regular';
    color: var(--background-color-darkgray);
}
.house-type-info-btn{
    background-color: var(--background-color-darkgray);
    padding: 18px;
    transition: transform 0.1s linear;
}
.house-type-info-btn a{
    color: var(--text-color-white);
    font-family: 'Poppins Regular';
}
.house-type-info-btn:hover{
    transform: scale(1.1);
    
}