/*Projects page style code*/

@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Agdasima:wght@400;700&family=Anta&family=Audiowide&family=Bebas+Neue&family=Bungee&family=Content:wght@400;700&family=Convergence&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Dancing+Script:wght@400..700&family=Darker+Grotesque:wght@300..900&family=Geostar+Fill&family=Gidugu&family=Great+Vibes&family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Instrument+Serif:ital@0;1&family=Italiana&family=Kodchasan:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=League+Spartan:wght@100..900&family=Libertinus+Serif:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Lobster&family=Manrope:wght@200..800&family=New+Amsterdam&family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Orbitron:wght@400..900&family=Oswald:wght@200..700&family=Oxanium:wght@200..800&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Petit+Formal+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prosto+One&family=Raleway:ital,wght@0,100..900;1,100..900&family=Rationale&family=Red+Rose:wght@300..700&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+Vinyl&family=Russo+One&family=Smooch&family=Sora:wght@100..800&family=Syncopate:wght@400;700&family=Train+One&family=WDXL+Lubrifont+TC&family=Zen+Tokyo+Zoo&display=swap');

:root{
    --background-color-green: #2f4f4f;
    --background-color-white: #ffffff;
    --background-color-darkgray: #353839;
    --text-color-green: #2f4f4f;
    --text-color-white: #ffffff;
    --text-color-black: #000000;
    --text-color-gray: #353839;
    --button-border-radius: 25px;
    --text-font-size-extraSmall: 0.8rem;
    --text-font-size-small: 1rem;
    --text-font-medium: 2rem;
    --text-font-size-middle: 3rem;
    --text-font-large: 4rem;
}
/*This is Aboreto Regular font*/
@font-face {
    font-family: 'Aboreto';
    src: url('../website-fonts/Aboreto/Aboreto-Regular.ttf') format('truetype');
}
/*This is Poppins Regular font*/
@font-face {
    font-family: 'Poppins Regular';
    src: url('../website-fonts/Poppins/Poppins-Regular.ttf') format(truetype);
}
/*This is Poppins Bold font*/
@font-face {
    font-family: 'Poppins Bold';
    src: url(../website-fonts/Poppins/Poppins-Bold.ttf) format(truetype);
}


/*Here starts projects page style*/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    width: 100%;
    min-height: 100vh;
}
header{
    width: 100%;
    max-width: 1400px;
    min-height: 100vh;
}
.projects-title{
    height: 35vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 3%;
    width: 100%;
    opacity: 0;
    animation-name: projects-title;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes projects-title{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.projects-title h1{
    font-family: "Kodchasan", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 6rem;
    text-align: left;
}
.projects-header{
    width: 100%;
    height: 65vh;
    display: flex;
}
.header-left{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-left-img{
    width: 80%;
    height: 90%;
    border-radius: 25px;
}
.header-left-img img{
    width: 100%;
    height: 100%;
    border-radius: 25px;
}
.header-right{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.header-right-title{
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding-left: 5%;
}
.header-right-title h3{
    font-family: 'Poppins Regular';
    font-size: 1.5rem;
}
.header-right-text{
    width: 80%;
    font-family: 'Poppins Regular';
    font-size: var(--text-font-size-extraSmall);
    text-align: justify;
}
.header-right-buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0% 8%;
    width: 100%;
}
.btn{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn a{
    background-color: #e2e2e2;
    color: #000000;
    font-family: 'Poppins Regular';
    padding: 10px;
    width: 85%;
    border-radius: 25px;
    text-align: center;
    transition: 0.3s linear;
}
.btn a:hover{
    background-color: var(--text-color-black);
    color: var(--text-color-white);
}
.icon-links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.icon-links a{
    color: var(--text-color-black);
    background-color: #e2e2e2;
    padding: 16px;
    border-radius: 50%;
    transition: 0.3s linear;
}
.icon-links a:hover{
    background-color: var(--text-color-black);
    color: var(--text-color-white);
}

.navigation{
    min-height: 30vh;
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-content{
    width: 90%;
    height: 13vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 70px;
    box-shadow: 2px 2px 6px  #969696;
    padding: 0% 2%;
}
.nav-content-links{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-content-links ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    height: 100%;
}
.nav-content-links ul li a{
    color: var(--text-color-black);
    font-family: "Kodchasan", sans-serif;
    font-weight: 400;
    font-style: normal;
    position: relative;
}
.nav-content-links a::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -100%;
    background-color: rgb(0, 0, 0);
    height: 4px;
    width: 0%;
    border-radius: 25px;
    transition: width 0.5s ease;
}
.nav-content-links a:hover::before{
    width: 100%;
}
.nav-content-btn{
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: end;
    align-items: center;
}
.nav-content-btn a {
    background-color: #ffffff;
    color: var(--text-color-black);
    padding: 20px;
    border-radius: 35px;
    font-family: "Kodchasan", sans-serif;
    font-weight: 400;
    font-style: normal;
    border: 1px solid black;
    transition: transform 0.3s ease;
}
.nav-content-btn a:hover{
    transform: scale(1.1);
}
#gallery{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    margin: auto;
    min-height: 100vh;
}
.gallery-img{
    transition: transform 0.3s linear;
}
.gallery-img:hover{
    transform: scale(0.98);
}
.small-menu{
    display: none;
}
.small-menu-title{
    display: none;
}
/*here goes responsive design breakpoints*/

@media(max-width:480px){
    .projects-title h1{
        font-size: 2.5rem;
        width: 90%;
    }
    .projects-header{
        display: flex;
        flex-direction: column;
    }
    .header-left{
        width: 100%;
    }
    .header-right-title{
        width: 90%;
    }
    .header-right{
        width: 100%;
    }
    .navigation{
        display: flex;
        justify-content: space-between;
        padding: 0% 3%;
        position: relative;
    }
    .nav-content{
        display: none;
        justify-content: center;
        align-items: center;
        height: 45vh;
        width: 00%;
        border-radius: 0px;
        flex-direction: column;
    }
    #navContent.active{
        display: flex;
        width: 70%;
    }
    .nav-content-links a::before{
        content: "";
        width: 0%;
        height: 0%;
    }
    .nav-content-links ul{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
    }
    .nav-content-btn{
        width: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .small-menu{
        display: block;
        width: 80px;
        height: 80px;
        border-radius: 160px;
        font-size: 1.5rem;
        background-color: transparent;
        border: none;
        color: #000000;
        box-shadow: 2px 2px 6px  #969696;
    }
    .small-menu-title{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.4rem;
        box-shadow: 2px 2px 6px  #969696;
        font-family: "Kodchasan", sans-serif;
        font-weight: 400;
        font-style: normal;
        height: 80px;
        width: 75%;
        border-radius: 55px;
    }
    #smallTitle.hide{
        display: none;
    }
    #gallery{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
}