/*Here goes services page style*/

/*font type import from browse fonts */
@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Agdasima:wght@400;700&family=Anta&family=Audiowide&family=Bebas+Neue&family=Bungee&family=Content:wght@400;700&family=Convergence&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Dancing+Script:wght@400..700&family=Darker+Grotesque:wght@300..900&family=Geostar+Fill&family=Gidugu&family=Great+Vibes&family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Instrument+Serif:ital@0;1&family=Italiana&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=League+Spartan:wght@100..900&family=Libertinus+Serif:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Lobster&family=Manrope:wght@200..800&family=New+Amsterdam&family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Orbitron:wght@400..900&family=Oswald:wght@200..700&family=Oxanium:wght@200..800&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Petit+Formal+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prosto+One&family=Raleway:ital,wght@0,100..900;1,100..900&family=Rationale&family=Red+Rose:wght@300..700&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+Vinyl&family=Russo+One&family=Smooch&family=Sora:wght@100..800&family=Syncopate:wght@400;700&family=Train+One&family=WDXL+Lubrifont+TC&family=Zen+Tokyo+Zoo&display=swap');

/*Here are the CSS variables*/
:root{
    --background-color-green: #2f4f4f;
    --background-color-white: #ffffff;
    --background-color-darkgray: #353839;
    --text-color-green: #2f4f4f;
    --text-color-white: #ffffff;
    --text-color-black: #000000;
    --text-color-gray: #353839;
    --button-border-radius: 25px;
    --text-font-size-extraSmall: 0.8rem;
    --text-font-size-small: 1rem;
    --text-font-medium: 2rem;
    --text-font-size-middle: 3rem;
    --text-font-large: 4rem;
}
/*This is Aboreto Regular font*/
@font-face {
    font-family: 'Aboreto';
    src: url('../website-fonts/Aboreto/Aboreto-Regular.ttf') format('truetype');
}
/*This is Poppins Regular font*/
@font-face {
    font-family: 'Poppins Regular';
    src: url('../website-fonts/Poppins/Poppins-Regular.ttf') format(truetype);
}
/*This is Poppins Bold font*/
@font-face {
    font-family: 'Poppins Bold';
    src: url(../website-fonts/Poppins/Poppins-Bold.ttf) format(truetype);
}
/*Here starts services page style*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    width: 100%;
    min-height: 100vh;
}
nav{
    background-color: rgba(0, 0, 0, 0.918);
    position: fixed;
    z-index: 999;
    right: 0;
    top: 45%;
    width: 1%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px;
    transition: width 0.3s;
}
#nav.active{
    width: 30%;
    height: 15%;
}
#nav.mode{
    color: #000;
    background-color: var(--background-color-white);
}
.nav-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 100%;
}
.nav-icons{
    width: 70%;
    height: 80%;
    display: none;
    justify-content: space-around;
    align-items: center;
}
.nav-icons ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 11px;
}
.nav-icons ul li a{
    color: var(--text-color-black);
    background-color: var(--background-color-white);
    padding: 12px;
    font-size: 1.1rem;
    border-radius: 50%;
    transition: transform, background-color, color, 0.3s ease-out;
}
.nav-icons ul li a:hover{
    transform: scale(1.05);
    background-color: #000000;
    color: var(--text-color-white);
    border: 1px solid white;
}
.nav-btn a{
    color: var(--text-color-white);
    border: 1px solid white;
    background-color: #000000;
    padding: 12px;
    font-family: 'Poppins Regular';
    transition: padding 0.1s linear;
}
.nav-btn a:hover{
    padding: 15px;
}
#navIcons.hide{
    display: flex;
}
.open-arrow{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.1rem;
    color: #ffffff;
    position: relative;
}
#OpenArrow{
    position: absolute;
    left: 0%;
}
#OpenArrow.mode{
    color: #000;
}
#OpenArrow.ARROW{
    display: none;
}
#closeArrow{
    display: none;
    position: absolute;
    left: 0%;
    top: 42.5%;
}
#closeArrow.arrow{
    display: block;
}
#closeArrow.mode{
    color: var(--text-color-black);
}
/*Here starts interior section style*/

.Interior{
    min-height: 100vh;
    width: 100%;
    max-width: 1400px;
}
.Interior-header{
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 4% 3%;
}
.Interior-header h2{
    font-family: 'Poppins Regular';
    font-size: var(--text-font-large);
}
.Interior-body{
    width: 100%;
    height: 85vh;
    display: flex;
}
.Interior-img{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.interior-img-container{
    width: 60%;
    height: 90%;
}
.interior-img-container img{
    width: 100%;
    height: 100%;
    max-width: 100%;
}
.interior-img-container h3{
    position: absolute;
    top: 10%;
    left: 69%;
    height: 80%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    writing-mode: vertical-rl;
    text-orientation: upright;
    letter-spacing: 30px;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    background-color: rgba(0, 0, 0, 0.342);
    backdrop-filter: blur(15px);
    color: var(--text-color-white);
    font-size: 2rem;
    padding-top: 6%;
    animation-name: img-text;
    animation-timeline: scroll();
    animation-range: 0% 10%;
    transform: scale(1) translateY(0px);
    transition: transform, backdrop-filter 0.3s linear;
}
@keyframes img-text{
    0%{
        transform: scale(1) translateY(0px);
        backdrop-filter: blur(15px);
    }
    50%{
        transform: scale(1.1) translateY(20px);
        backdrop-filter: blur(0px);
    }
    100%{
        transform: scale(1) translateY(0px);
        backdrop-filter: blur(15px);
    }
}
.Interior-info{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.interior-info-content{
    width: 60%;
    height: 45%;
}
.interior-info-content h2{
    font-family: 'Poppins Regular';
    color: var(--text-color-black);
    font-size: 3rem;
    position: relative;
}
.interior-info-content h2::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 5px;
    width: 10%;
    height: 5px;
    background-color: black;
}
.interior-info-content p{
    font-family: 'Poppins Regular';
    font-size: 0.9rem;
    line-height: 20px;
    text-align: left;
}
.interior-info-btn{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.interior-info-btn a{
    color: #000;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    position: relative;
}
.interior-info-btn a::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 10%;
    height: 1.5px;
    background-color: #000000;
    transition: width 0.4s ease-in-out;
}
.interior-info-btn a:hover::before{
    width: 100%;
}
.interior-info-btn a:hover + i{
    animation: arrow 0.5s forwards;
}
@keyframes arrow{
    0%{
        transform: translateX(0px);
    }
    100%{
        transform: translateX(30px);
    }
}
.interior-info-btn i{
    margin-left: 5%;
    font-size: 1.3rem;
}
/*Here starts section services*/
.services{
    background-color: #141414;
    margin-top: 2%;
    min-height: 350vh;
}
.services-header{
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.services-header h2{
    font-family: 'Poppins Regular';
    font-size: var(--text-font-large);
    color: var(--text-color-white);
    padding-left: 4%;
    padding-top: 1%;
}
.first-service{
    min-height: 85vh;
    width: 90%;
    margin: 5% auto;
}
.service-header{
    font-family: 'Poppins Regular';
    color: var(--text-color-white);
    font-size: var(--text-font-medium);
    border-bottom: 2px solid white;
}
.first-service-body{
    width: 100%;
    margin-top: 4%;
    height: 75vh;
    display: flex;
}
.first-service-img{
    width: 50%;
    height: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: service-img;
    animation-timeline: scroll();
    animation-range: 30% 50%;
    animation-fill-mode: forwards;
}
@keyframes service-img{
    0%{
        height: 0%;
    }
    100%{
        height: 100%;
    }
}
.first-service-img img{
    width: 80%;
    height: 80%;
}
.first-service-info{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 45px;
    animation-name: service-info;
    animation-timeline: scroll();
    animation-range: 30% 50%;
    transform: translateX(650px);
    opacity: 0;
    animation-fill-mode: forwards;
}
@keyframes service-info{
    0%{
         transform: translateX(450px);
         opacity: 0;
    }
    100%{
         transform: translateX(0px);
         opacity: 1;
    }
}
.first-service-info h3{
    font-family: 'Poppins Regular';
    font-size: 3rem;
    width: 80%;
    text-align: center;
    color: var(--text-color-white);
}
.first-service-info span{
    color: #535353;
}
.first-service-info p{
    color: var(--text-color-white);
    font-family: 'Poppins Regular';
    font-size: var(--text-font-size-extraSmall);
    width: 80%;
    text-align: justify;
}
.second-service{
    min-height: 85vh;
    width: 90%;
    margin: 5% auto;
}
.second-service-body{
    background-image: url(../website-images/services-images/services-exterior-img.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 4%;
    height: 80vh;
    width: 0%;
    opacity: 0;
    position: relative;
    animation-name: second-service-body;
    animation-timeline: scroll();
    animation-range: 30% 70%;
    animation-fill-mode: forwards;
    transition: width, opacity, 0.3s linear;
}
@keyframes second-service-body{
    0%{
        width: 0%;
        opacity: 0;
    }
    100%{
        width: 100%;
        opacity: 1;
    }
}
.second-service-body::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: url(../website-images/services-images/services-exterior-img.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    filter: brightness(70%);
}
.service-body-content{
    position: absolute;
    bottom: -15%;
    width: 80%;
    left: 10%;
    height: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    z-index: 2;
    background-color: #00000046;
    backdrop-filter: blur(10px);
}
.title{
    font-family: 'Poppins Regular';
    font-size: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--text-color-white);
    width: 100%;
    padding: 1% 1%;
}
.service-body-text{
    padding-bottom: 3%;
    font-family: 'Poppins Regular';
    font-size: var(--text-font-size-extraSmall);
    color: var(--text-color-white);
    width: 60%;
}
.third-services{
    margin-top: 8%;
    min-height: 110vh;
}
.third-services-header{
    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins Regular';
    color: var(--text-color-white);
    font-size: 2.5rem;
}
.third-services-header h2{
    position: relative;
}
.third-services-header h2::before{
    content: '';
    position: absolute;
    left: 0%;
    bottom: 0%;
    height: 4px;
    width: 0%;
    background-color: var(--background-color-white);
    border-radius: 25px;
    transition: width 0.3s linear;
}
.third-services-header h2:hover::before{
    width: 100%;
}
.third-services:hover .third-services-header h2::before{
    width: 100%;
}
.third-services-cards{
    height: 90vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.card{
    width: 30%;
    height: 80%;
}
.card:nth-child(1){
    background-image: url(../website-images/services-images/landscape-img.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: transform 0.2s linear;
}
.card:nth-child(1):hover{
    transform: scale(0.97);
}
.card-name{
    font-family: 'Poppins Regular';
    color: var(--text-color-white);
    font-size: 2.5rem;
    width: 100%;
    height: 0%;
    padding-left: 4%;
    transition: height 0.3s linear;
    background-color: #0000003d;
}
.card:nth-child(1):hover .card-name{
    height: 100%;
}
.card:nth-child(2){
    background-image: url(../website-images/services-images/restauratopn-img.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.card:nth-child(2):hover{
    transform: scale(0.97);
}
.card:nth-child(2):hover .card-name{
    height: 100%;
}
.card:nth-child(3){
    background-image: url(../website-images/services-images/urban-space.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.card:nth-child(3):hover{
    transform: scale(0.97);
}
.card:nth-child(3):hover .card-name{
    height: 100%;
}
@media(max-width:480px){
    body{
        min-height: 100vh;
        width: 100%;
    }
    nav{
        width: 5%;
    }
    #nav.active{
        width: 90%;
        height: 15%;
    }
    .Interior{
        min-height: 140vh;
    }
    .Interior-header{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0%;
        margin: 0%;
        width: 100%;
    }
    .Interior-header h2{
        font-size: 3rem;
    }
    .Interior-body{
        display: flex;
        height: 110vh;
        flex-direction: column;
    }
    .Interior-img{
        width: 80%;
        margin: auto;
        position: relative;
    }
    .interior-img-container{
        width: 100%;
    }
    .Interior-body .Interior-img .interior-img-container h3{
        position: absolute;
        left: -10%;
    }
    .Interior-info{
        width: 100%;
        height: 50%;
        margin-top: 10%;
    }
    .interior-info-content{
        height: 100%;
    }
    .interior-info-content p{
        padding-top: 2%;
    }
    /*Services section*/
    .services{
        min-height: 320vh;
    }
    .services-header{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .services-header h2{
        font-size: 2.4rem;
        text-align: center;
    }
    .first-service{
        height: auto;
    }
    .first-service-body{
        display: flex;
        flex-direction: column;
    }
    .first-service-img{
        width: 95%;
        margin: auto;
    }
    .first-service-info{
        width: 100%;
    }
    .first-service .first-service-info h3{
        width: 90%;
        font-size: 2.3rem;
    }
    .first-service-img img{
        width: 100%;
        height: 100%;
    }
    .second-service{
        height: auto;
    }
    .second-service-body{
        display: flex;
        flex-direction: column;
    }
    .service-body-content{
        width: 90%;
        position: absolute;
        left: 5%;
    }
    .title h3{
        font-size: 1.7rem;
    }
    .service-body-text{
        width: 90%;
    }
    .third-services{
        margin-top: 18%;
    }
    .third-services-header{
        font-size: 2rem;
    }
    .third-services-cards{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    .card{
        height: 80%;
        width: 90%;
    }
}
/* media (481-650px)*/

@media(min-width:481px) and (max-width:650px){
    nav{
        width: 5%;
    }
    #nav.active{
        width: 80%;
    }
    .Interior{
        min-height: 140vh;
    }
    .Interior-header{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .Interior-header h2{
        font-size: var(--text-font-size-middle);
    }
    .Interior-body{
        display: flex;
        flex-direction: column;
    }
    .Interior-img{
        width: 80%;
        margin: auto;
        position: relative;
    }
    .interior-img-container{
        width: 100%;
    }
    .interior-img-container h3{
        position: absolute;
        left: -10%;
    }
    .Interior-info{
        width: 100%;
        height: 50%;
        margin-top: 10%;
    }
    .interior-info-content{
        height: 100%;
    }
    .interior-info-content p{
        padding-top: 3%;
    }
    .interior-info-btn{
        margin-top: 6%;
    }
}
@media(min-width:651px) and (max-width:850px){
    nav{
        width: 3%;
    }
    #nav.active{
        width: 80%;
    }
    .Interior-img{
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5%;
    }
    .interior-img-container{
        width: 80%;
    }
    .interior-img-container h3{
        position: absolute;
        left: 2%;
    }
    .interior-img-container img{
        width: 100%;
    }
}
