/*This file will contain the design of index.html*/

@font-face{
    font-family: 'Unbounded';
    src: url(../fonts-folder/Unbounded/static/Unbounded-Regular.ttf) format(truetype);
}
@font-face{
    font-family: 'Unbounded Light';
    src: url(../fonts-folder/Unbounded/static/Unbounded-Light.ttf) format(truetype);
}
:root{
    --main-color: #fff;
    --text-color: #000;
    --background-color: #000;
    --max-width: 1400px;
    --min-width: 350px;
    --extra-small-font: 0.8rem;
    --small-font: 1.4rem;
    --medium-font: 2.5rem;
    --large-font: 4rem;
    --extra-large-font: 5.3rem;
    --circle-border: 50%;
    --medium-border-radius: 25px;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    width: 100%;
    min-height: 100vh;
}

html{
    scroll-behavior: smooth;
}

header{
    background-image: url(../images-folder/header-images/archForm-header-img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    max-width: var(--max-width);
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 2;
}

header::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images-folder/header-images/archForm-header-img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    z-index: 1;
    filter: brightness(82%);
}

.nav{
    position: relative;
    z-index: 2;
    height: 15vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title h2{
    font-family: 'Unbounded';
    color: #fff;
    font-weight: 400;
    font-size: var(--medium-font);
}

.title span{
    font-size: var(--small-font);
    font-family: 'Unbounded Light';
}

.nav-items{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-items ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    width: 60%;
    padding: 15px;
    background-color: #6879a075;
    backdrop-filter: blur(15px);
    border-radius: var(--medium-border-radius);
    transition: box-shadow 0.3s linear;
}

.nav-items ul li a{
    color: var(--main-color);
    font-family: 'Unbounded Light';
    font-size: var(--extra-small-font);
    transition: transform 0.3s linear;
    position: relative;
    padding-bottom: 10px;
}

.nav-items ul.addShadow{
    border: 2px solid #3a46619a;
    box-shadow: inset 3px 3px 15px #3a46619a;
}

.nav-items ul li a::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0%;
    width: 0%;
    height: 15%;
    border-radius: 25px;
    background-color: #3a46619a;
    transition: width 0.4s linear;
}

.nav-items ul li a:hover::before{
    width: 100%;
}

.hero-section{
    position: relative;
    z-index: 2;
    height: 40vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-text{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-text h2{
    font-family: 'Unbounded Light';
    color: var(--main-color);
    font-size: 3rem;
    width: 70%;
    opacity: 0;
    animation-name: showText;
    animation-duration: 2s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes showText{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.hero-btn{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-bottom: 5%;
    padding-right: 5%;
}

.hero-btn a{
    background-color: #6879a075;
    width: 45%;
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px;
    border-radius: 65px;
    color: var(--main-color);
    font-family: 'Unbounded Light';
    transition: transform 0.1s linear;
}

.hero-btn a:hover{
    transform: scale(0.98);
}

.hero-btn i{
    transform: rotate(45deg);
    transition: transform 0.2s linear;
    padding: 15px;
    background-color: #495674c7;
    border-radius: 50%;
}

.hero-btn a:hover i{
     transform: rotate( 330deg);
}

.main-buttons{
    position: fixed;
    z-index: 2;
    bottom: 5%;
    opacity: 0;
    left: 45%;
    width: 10%;
    height: 10%;
    border-radius: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0% 0.5%;
    background-color: #6879a075;
}

.main-buttons a{
    color: var(--main-color);
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6879a075;
    backdrop-filter: blur(15px);
    border-radius: 50%;
    transition: box-shadow 0.3s linear;
}

.main-buttons a:hover{
    border: 2px solid #3a46619a;
    box-shadow: inset 3px 3px 15px #3a46619a;
}

#mainButtons{
    transition: opacity 0.5s linear;
}

#mainButtons.active{
    opacity: 1;
}

.small-menu{
    display: none;
}

/*480px max-width responsive design*/

@media(max-width:480px){

    .nav-items{
        display: none;
    }

    .title{
        width: 80%;
    }

    .title h2{
        font-size: clamp(0.9rem, 1.7rem, 2rem);
        z-index: 2;
    }

    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .small-menu{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20%;
        height: 100%;
    }

    .menu-btn{
        font-size: clamp(1.7rem, 2rem, 2.2rem);
        color: var(--main-color);
        z-index: 2;
    }

    .small-menu-items{
        position: absolute;
        background-color: rgba(0, 0, 0, 0.336);
        backdrop-filter: blur(10px);
        top: 0;
        left: 0;
        height: 0vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: opacity, height 0.3s linear;
    }
    
    .small-menu-items.ShowMenu{
        opacity: 1;
        height: 100vh;
    }

    .small-menu-items ul{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 25px;
    }

    .small-menu-items ul li a{
        color: var(--text-color);
        font-size: clamp(1.3rem, 1.5rem, 1.7rem);
        font-family: 'Unbounded Light';
        color: var(--main-color);
    }

    .hero-section{
        z-index: 1;
        display: flex;
        flex-direction: column;
    }

    .hero-text{
        width: 100%;
        padding-right: 5%;
    }

    .hero-text h2{
        width: 80%;
        text-align: center;
        font-size: clamp(1.7rem, 1.8rem, 2.2rem);
    }

    .hero-btn{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .hero-btn a{
        width: 65%;
    }
}

/*Breakpoint 481-720px*/

@media(min-width:481px) and (max-width:720px){
    .nav-items{
        display: none;
    }

    .title{
        width: 80%;
    }

    .title h2{
        font-size: clamp(0.9rem, 1.7rem, 2rem);
        z-index: 2;
    }

    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .small-menu{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20%;
        height: 100%;
    }

    .menu-btn{
        font-size: clamp(1.7rem, 2rem, 2.2rem);
        color: var(--main-color);
        z-index: 2;
    }

    .small-menu-items{
        position: absolute;
        background-color: rgba(0, 0, 0, 0.336);
        backdrop-filter: blur(10px);
        top: 0;
        left: 0;
        height: 0vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: opacity, height 0.3s linear;
    }
    
    .small-menu-items.ShowMenu{
        opacity: 1;
        height: 100vh;
    }

    .small-menu-items ul{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 25px;
    }

    .small-menu-items ul li a{
        color: var(--text-color);
        font-size: clamp(1.3rem, 1.5rem, 1.7rem);
        font-family: 'Unbounded Light';
        color: var(--main-color);
    }

    .hero-section{
        display: flex;
        flex-direction: column;
        z-index: 1;
    }

    .hero-text{
        width: 100%;
    }

    .hero-text h2{
        font-size: clamp(1.4rem, 2.5rem, 2.6rem);
    }

    .hero-btn{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hero-btn a{
        width: clamp(55%, 55%, 60%);
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0px;
        padding: 5% 5%;
    }
}

/*Breakpoint 721-950px*/

@media(min-width:721px) and (max-width:920px){

    .nav-items{
        display: none;
    }
    .title{
        width: 70%;
        z-index: 2;
    }
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .small-menu{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30%;
        height: 100%;
    }

    .menu-btn{
        font-size: clamp(1.7rem, 2rem, 2.2rem);
        color: var(--main-color);
        z-index: 2;
    }

    .small-menu-items{
        position: absolute;
        background-color: rgba(0, 0, 0, 0.336);
        backdrop-filter: blur(10px);
        top: 0;
        left: 0;
        height: 0vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: opacity, height 0.3s ease-in-out;
    }
    
    .small-menu-items.ShowMenu{
        opacity: 1;
        height: 100vh;
    }

    .small-menu-items ul{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 25px;
    }

    .small-menu-items ul li a{
        color: var(--text-color);
        font-size: clamp(1.3rem, 1.5rem, 1.7rem);
        font-family: 'Unbounded Light';
        color: var(--main-color);
    }

    .hero-section{
        display: flex;
        z-index: 1;
    }

    .hero-text{
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        padding-bottom: 5%;
    }

    .hero-text h2{
        font-size: clamp(1.7rem, 2.4rem, 2.6rem);
        width: 80%;
    }

    .hero-btn{
        width: 40%;
    }

    .hero-btn a{
        width: 40%;
        height: 30%;
        background-color: transparent;
        font-size: clamp(1.7rem, 2rem, 2.1rem);
    }

    .hero-btn span{
        display: none;
    }
}


